body {
    
    background-color: #1D1F21 !important;
    width: 75%;
    margin:auto !important;
}

h1{
    margin-top:30px !important;
    color: #A54242 !important;
    text-align: center;
    font-family: 'Quicksand', sans-serif !important;
}
h3{
    color: #C5C8C6 !important;
    margin-top:30px !important;
}
p{
    text-align: center;
    color: #C5C8C6 !important;
    margin-top:10px !important;
}


#player{

    margin-top:30px;
    width: 1280px;
    height:720px;

}

button{
    margin-top:20px !important;
    height: 100px;
    width: 300px;

}